[worldserver]

########################################
# SYSTEM VIP CONFIGURATION
########################################
#
#    SystemVip.Announce
#        Description: Enable a module message when logging in.
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.Announce = 0

########################################
#
#    SystemVip.TimeVip
#        Description: Time in days to add for each subscription.
#        Default:     7
#

SystemVip.TimeVip = 7

########################################
#
#    SystemVip.Token
#        Description: Token to purchase a VIP subscription
#        Default:    29736
#

SystemVip.Token = 29736

########################################
#
#    SystemVip.TokenAmount
#        Description: Required quantity.
#        Default:     10
#

SystemVip.TokenAmount = 10

########################################
#
#    SystemVip.TokenIcon
#        Description: Token icon
#        Default:     "|TInterface/ICONS/inv_misc_rune_05:15:15:-15:0|t"
#

SystemVip.TokenIcon = "|TInterface/ICONS/inv_misc_rune_05:15:15:-15:0|t"

########################################
# SYSTEM VIP ADVANTAGES CONFIGURATION
########################################
#
#    SystemVip.LoginAnnounce
#        Description: Enable a special welcome ad for VIP users.
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.LoginAnnounce = 0

########################################
#
#    SystemVip.LoginAnnounceMessage
#        Description: Message to display in the welcome message. The %s symbol is the player's name.
#        Default:     "Player Vip: %s has logged in."
#

SystemVip.LoginAnnounceMessage = "Player Vip: %s has logged in."

########################################
#
#    SystemVip.EnableRateCustom
#        Description: Enable custom rates for VIP users
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.EnableRateCustom = 0

########################################
#
#    SystemVip.RateXP
#        Description: Define the experience rate amount for VIP users. Set to 1 if you want a normal rate.
#        Default:     1
#

SystemVip.RateXP = 1

########################################
#
#    SystemVip.ProfessionRate
#        Description: Define the profession rate amount for VIP users. Set to 1 if you want a normal rate.
#        Default:     1
#

SystemVip.ProfessionRate = 1

########################################
#
#    SystemVip.GoldRate
#        Description: Define the amount of gold rate for VIP users. Set to 1 if you want a normal rate.
#        Default:     1
#

SystemVip.GoldRate = 1

########################################
#
#    SystemVip.HonorRate
#        Description: Define the rate amount for VIP users to earn honor. Set to 1 if you want a normal rate.
#        Default:     1
#

SystemVip.HonorRate = 1

########################################
#
#    SystemVip.GhostMount
#        Description: Activates a mount when the VIP player dies and becomes a ghost
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.GhostMount = 0

########################################
# SYSTEM VIP PET CONFIGURATION
########################################
#
#    SystemVip.Pet
#        Description: Activate the mascot for VIP users.
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.Pet = 0

########################################
#
#    SystemVip.VipZone
#        Description: Activate a teleporter to a special area for VIP users.
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.VipZone = 0

########################################
#
#    SystemVip.VipZoneCoord
#        Description: Coordinates of the area for VIP users.
#        Default:     "mapId;position_x;position_y;position_z;orientation"
#

SystemVip.VipZoneMapId = 571
SystemVip.VipZoneCoorX = 5804.15
SystemVip.VipZoneCoorY = 624.771
SystemVip.VipZoneCoorZ = 647.767
SystemVip.VipZoneOrien = 1.64

########################################
#
#    SystemVip.ArmorRep
#        Description: Enable an option to repair armor for free for VIP users.
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.ArmorRep = 0

########################################
#
#    SystemVip.Bank
#        Description: Enable an option to open the bank.
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.Bank = 0

########################################
#
#    SystemVip.Mail
#        Description: Enable an option to open mail.
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.Mail = 0

########################################
#
#    SystemVip.Buffs
#        Description: Enable an option for buffs.
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.Buffs = 0

########################################
#
#    SystemVip.BuffIds
#        Description: IDs of the buffs to be cast. They must be separated by a comma and without spaces.
#        Default:     "12312,123123,123123"
#

SystemVip.BuffIds = "25898,48469,42995,48169,48073,48161,53307,23735,23736,23737,23738,23766,23767,23768,23769"

########################################
#
#    SystemVip.Refresh
#        Description: Activate an option to restore your health and mana.
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.Refresh = 0

########################################
#
#    SystemVip.Sickness
#        Description: Enable an option to restore your Resurrection Sickness.
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.Sickness = 0

########################################
#
#    SystemVip.Deserter
#        Description: Enable an option to remove the deserter mark.
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.Deserter = 0

########################################
#
#    SystemVip.ResetInstance
#        Description: Enables an option to reset logs in dungeons and raids.
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.ResetInstance = 0

########################################
#
#    SystemVip.SaveTeleport
#        Description: Enable an option to save zones for teleportation.
#        Default:     0 - Disabled
#                     1 - Enabled
#

SystemVip.SaveTeleport = 0

########################################
#
#    SystemVip.SaveTeleportAmount
#        Description: Define the maximum number of zones allowed to save.
#        Default:     5
#

SystemVip.SaveTeleportAmount = 5

